/* ==================== LISTE ==================== */

.AlaUneConteneur .musiqueAlaUne {
    font-family: 'Playfair Display', serif;
    display: flex;
    margin-left: 5vh;
    flex-direction: column;
}

.AlaUneConteneur .musiqueAffiche {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

.AlaUneConteneur .section1 {
    color: white;
}

.AlaUneConteneur .section1 .haut {
    display: flex;
    justify-content: center;
    text-align: center;
}

.AlaUneConteneur .section1 h3 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1vh;
}

.AlaUneConteneur .section1 p {
    margin: 0;
    font-size: 1.5rem;
}

.AlaUneConteneur .section1 .avertissement {
    position: relative;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 0.8rem;
    max-width: 40vh;
}

.AlaUneConteneur .section1 .avertissement span {
    font-weight: 700;
}

.AlaUneConteneur .listeMusiqueAlaUne {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.AlaUneConteneur .carteMusique {
    margin-bottom: 1vh;
    margin-right: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: rgb(39, 42, 56);
    position: relative;
    max-width: 40vh;
    width: 30vh;
    height: 25vh;
    border-radius: 1vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
    box-sizing: border-box;
    border: 3px solid transparent;
}

.AlaUneConteneur .carteMusique:hover {
    filter: brightness(120%);
    border: 3px solid white;
}

.AlaUneConteneur .carteMusique .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.AlaUneConteneur .carteMusique .haut {
    background-color: rgba(0, 0, 0, 0.438);
    margin: 0;
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
}

.AlaUneConteneur .carteMusique p.titre {
    font-size: 1.2rem;
    margin: 0;
}

.AlaUneConteneur .carteMusique p.contenu {
    font-size: 0.8rem;
    margin: 0;
}

.AlaUneConteneur .carteMusique .texte {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
}

.AlaUneConteneur .carteMusique button {
    background-color: rgb(52, 57, 87);
    color: white;
    padding: 1.5vh 3vh;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.AlaUneConteneur .carteMusique button:hover {
    filter: brightness(120%);
}

.AlaUneConteneur .carteMusique button:active {
    filter: brightness(150%);
}


.AlaUneConteneur .tags {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
}

.AlaUneConteneur .tag {
    text-align: center;
    margin-bottom: 0.5vh;
    margin-left: 0.5vh;
    padding: 1vh;
    color: black;
    border-radius: 3vh;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.AlaUneConteneur .melancolique {
    background-color: rgb(87, 0, 174);
    color: white;
}

.AlaUneConteneur .epique {
    background-color: rgb(223, 65, 65);
    color: white;
}

.AlaUneConteneur .glorieux {
    background-color: rgb(223, 139, 65);
    color: white;
}

.AlaUneConteneur .joyeux {
    background-color: rgb(224, 187, 40);
    color: white;
}

.AlaUneConteneur .noble {
    background-color: white;
    color: black;
}

.AlaUneConteneur .vif {
    background-color: rgb(213, 223, 75);
    color: black;
}

.AlaUneConteneur .nostalgique {
    background-color: rgb(65, 223, 141);
    color: black;
}

.AlaUneConteneur .romantique {
    background-color: rgb(223, 65, 205);
    color: white;
}

.AlaUneConteneur .dramatique {
    background-color: rgb(179, 0, 255);
    color: white;
}

.AlaUneConteneur .lugubre {
    background-color: rgb(55, 10, 69);
    color: white;
}

.AlaUneConteneur .doux {
    background-color: rgb(133, 173, 243);
    color: black;
}

@media screen and (max-width: 800px) {

    .AlaUneConteneur .musiqueAlaUne {
        margin-left: 0;
    }

    .AlaUneConteneur .carteMusique {
        margin-left: 0.5vh;
        margin-right: 0.5vh;
    }

}

@media screen and (max-width: 1100px) {

    .AlaUneConteneur h3 {
        text-align: center;
    }

    .AlaUneConteneur .carteMusique .haut {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 600px) {

    .AlaUneConteneur h3 {
        font-size: 2.5rem !important;
    }
    
    .AlaUneConteneur .descriptionAlaUne {
        font-size: 1.2rem !important;
    }

    .AlaUneConteneur .musiqueAffiche {
        font-size: 2rem !important;
    }

    .AlaUneConteneur .carteMusique {
        width: 20vh;
        height: 15vh;
        margin-right: 0.2vh;
        margin-left: 0.2vh;
        margin-bottom: 0.2vh;
    }

    .AlaUneConteneur .carteMusique .haut p.titre {
        font-size: 0.8rem;
    }

    .AlaUneConteneur .carteMusique .haut p.contenu {
        font-size: 0.6rem;
    }

    .AlaUneConteneur .tag {
        font-size: 0.5rem;
    }

}

@media screen and (max-width: 500px) {

    .AlaUneConteneur h3 {
        font-size: 2.5rem !important;
        display: none;
    }
    
    .AlaUneConteneur .descriptionAlaUne {
        font-size: 1rem !important;
        max-width: 20vh !important;
        display: none;
    }

    .AlaUneConteneur .avertissement {
        display: none;
        font-size: 0.8rem !important;
        max-width: 20vh !important;
        text-align: justify;
        margin-bottom: 1vh !important;
    }

    .AlaUneConteneur .musiqueAffiche {
        font-size: 1.3rem !important;
        display: block;
        margin-top: 0;
    }

    .AlaUneConteneur .carteMusique {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (max-width: 400px) {

    .AlaUneConteneur .carteMusique {
        width: 15vh;
        height: 15vh;
        margin-right: 0.2vh;
        margin-left: 0.2vh;
        margin-bottom: 0.2vh;
    }

    .AlaUneConteneur .carteMusique .haut p.titre {
        font-size: 0.5rem;
    }

    .AlaUneConteneur .carteMusique .haut p.contenu {
        font-size: 0.5rem;
    }

    .AlaUneConteneur .tag {
        font-size: 0.3rem;
    }

}