.contactConteneur {
    margin-left: 5vh;
}

.contactConteneur .section1 {
    color: white;
    font-family: 'Playfair Display', serif;
}

.contactConteneur .section1 p {
    max-width: 50vh;
    margin-bottom: 5vh;
}

.contactConteneur a {
    color: white;
    text-decoration: none;
    background-color: rgb(67, 58, 130);
    border-radius: 1vh;
    padding: 2vh 6vh;
    transition: all 0.2s;
}

.contactConteneur a:hover {
    scale: 105%;
    filter: brightness(120%);
}

.contactConteneur a:active {
    filter: brightness(150%);
}

@media screen and (max-width: 600px) {

    .contactConteneur {
        margin-left: 0;
        box-sizing: border-box;
        padding: 1vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contactConteneur h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .contactConteneur .centralisation {
        display: flex;
        flex-direction: column;
    }

    .contactConteneur p {
        font-size: 1rem;
        text-align: center;
        max-width: 100% !important;
    }

    .contactConteneur a {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

}